@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background: #222222;
  padding: 18px 0;
  position: relative;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-content {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.header-logo {
  display: flex;
}
.header-search {
  display: flex;
}
.header-navigation {
  display: flex;
  align-items: center;
  -moz-column-gap: 33px;
       column-gap: 33px;
}
.header-menu {
  display: flex;
}
.header-menu-burger {
  display: flex;
}
.header-menu .menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 32px 74px 32px 32px;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  background: #fff;
}
.header-menu .menu-title {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}
.header-menu .menu-wrapper {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.header-menu .menu-categories {
  color: #f16d7f;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.header-menu .menu-categories:hover {
  text-decoration: underline;
}
.header-menu .menu-links {
  padding-left: 21px;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  row-gap: 11px;
}
.header-menu .menu-link {
  color: #5d5d5d;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.header-menu .menu-link:hover {
  text-decoration: underline;
}
.header-login {
  display: flex;
}
.header-cart__img {
  display: flex;
}
.main .intro {
  background: rgb(241, 228, 230);
}
.main .intro-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.main .intro-img {
  display: flex;
  margin-left: -100px;
}
.main .intro-info {
  margin-right: 100px;
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
}
.main .intro-title {
  font-size: 48px;
  font-weight: 900;
  line-height: 1.2;
  color: #222222;
}
.main .intro-text {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  color: #222222;
}
.main .intro-text span {
  color: #f16d7f;
}
.main .offer {
  margin-top: 64px;
}
.main .offer-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}
.main .offer-item {
  max-width: 31.5%;
  width: 100%;
  min-height: 260px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .offer-item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(34, 34, 34, 0.7);
  z-index: 1;
}
.main .offer-item:last-child {
  max-width: 100%;
  min-height: 180px;
}
.main .offer-item__img {
  display: flex;
  position: absolute;
}
.main .offer-item__text {
  position: relative;
  z-index: 2;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  color: #fff;
}
.main .offer-item__title {
  margin-top: 5px;
  position: relative;
  z-index: 2;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  color: #f16d7f;
}
.main .products {
  margin-top: 97px;
}
.main .products-title {
  color: #222222;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}
.main .products-text {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #9f9f9f;
  text-align: center;
}
.main .products-wrapper {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.main .products-item {
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
}
.main .products-item__img {
  display: flex;
}
.main .products-item__img img {
  max-width: 100%;
}
.main .products-item__content {
  padding: 24px 18px 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.main .products-item__title {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.main .products-item__title:hover {
  text-decoration: underline;
}
.main .products-item__decs {
  margin: 12px 0 18px;
  color: #5d5d5d;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}
.main .products-item__price {
  margin-top: auto;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.main .products-link {
  margin: 48px auto 0;
  max-width: 212px;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #f16d7f;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  transition: all 0.3s;
}
.main .products-link:hover {
  background: #f16d7f;
  color: #fff;
}
.main .feature {
  margin-top: 95px;
  background: #222222;
  padding: 103px 0;
}
.main .feature-wrapper {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: flex-start;
}
.main .feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .feature-item__img {
  display: flex;
}
.main .feature-item__title {
  margin-top: 20px;
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.main .feature-item__text {
  margin-top: 15px;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: center;
}
.main .subscribe {
  padding: 97px 0 126px;
  background: url(img/subscribe-bg.jpg) no-repeat center center/cover;
}
.main .subscribe-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.main .subscribe-info {
  max-width: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .subscribe-img {
  display: flex;
}
.main .subscribe-text {
  margin-top: 20px;
  color: #222222;
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.main .subscribe-form {
  max-width: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .subscribe-form__title {
  color: #222222;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}
.main .subscribe-form__text {
  color: #222222;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}
.main .subscribe-form .form {
  margin-top: 32px;
  max-width: 100%;
  width: 100%;
  height: 49px;
  display: flex;
  align-items: center;
}
.main .subscribe-form .form-input {
  max-width: 100%;
  width: 100%;
  height: 100%;
  background: #e1e1e1;
  border: none;
  outline: none;
  padding: 0 22px;
  border-radius: 30px 0 0 30px;
  color: rgba(34, 34, 34, 0.67);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.main .subscribe-form .form-input::-moz-placeholder {
  color: rgba(34, 34, 34, 0.67);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.main .subscribe-form .form-input::placeholder {
  color: rgba(34, 34, 34, 0.67);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.main .subscribe-form .form-btn {
  height: 100%;
  background: #f16d7f;
  border: none;
  outline: none;
  padding: 0 22px;
  border-radius: 0 30px 30px 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  opacity: 1;
  transition: all 0.3s;
}
.main .subscribe-form .form-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

.footer {
  padding: 24px 0;
  background: #222222;
}
.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.footer-copy {
  color: #fbfbfb;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.footer-socials {
  display: flex;
  align-items: center;
  -moz-column-gap: 7px;
       column-gap: 7px;
}
.footer-social {
  background: rgb(255, 255, 255);
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.footer-social:hover {
  background: #f16d7f;
}/*# sourceMappingURL=style.css.map */